@{
    ViewBag.Title = "Đánh giá rèn luyện lớp";
}

@section styles{
    <link rel="stylesheet" href="~/Content/css/common.css" />
}

<h1> HỒ QUANG NHÂN</h1>

@section scripts{
    <script src="~/Scripts/js/common.js"></script>
}

