@{
    ViewBag.Title = "Đăng ký học phần";
}


@section styles{
    <link rel="stylesheet" href="~/Content/css/common.css" />
    <link rel="stylesheet" href="~/Content/css/dang-ky-hoc-phan.css" />
}

<div class="container-lg py-4">
    <!-- Học phần đang mở -->
    <div class="class-open w-100 wrapper-content">
        <div class="section-header">
            <h3 class="section-title fw-bold">Học phần đang mở</h3>

            <div class="header-class-open">
                <div class="search-bar-dkhp">
                    <i class="fa-solid fa-magnifying-glass"></i>

                    <input type="text"
                           id="searchCourse"
                           placeholder="Tìm kiếm môn học" />
                </div>
                <select class="form-select" id="semesterSelect">
                    <option>HK1 (2025-2026)</option>
                    <option>HK2 (2025-2026)</option>
                </select>
            </div>

            <div class="tab-nav row">
                <button class="tab-item active col-lg-6 col-md-6 col-sm-6 col-6"
                        data-tab="new">
                    <i class="fa-solid fa-circle-plus"></i>

                    Đăng ký mới
                </button>
                <button  class="tab-item col-lg-6 col-md-6 col-sm-6 col-6" data-tab="retake">
                    <i class="fa-solid fa-arrow-rotate-left"></i>
                    Học lại
                </button>
            </div>

            <div class="table-wrapper w-100">
                <table class="table-courses" id="courseTable">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã môn</th>
                            <th>Tên môn học</th>
                            <th>TC</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- lớp học phần chờ đăng ký và chi tiết -->
    <div class="two-column">
        <!-- Lớp học phần chờ đăng ký -->
        <div class="section-left">
            <h3 class="section-title fw-bold mb-3">
                Lớp học phần chờ đăng ký
            </h3>
            <div class="section-label">
                <input type="checkbox" id="conflictFreeCheckbox" />
                <label for="conflictFreeCheckbox">Hiện thị lớp học phần không trùng lịch</label>
            </div>
            <div class="table-wrapper">
                <table class="class-table" id="waitingClassTable">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>THÔNG TIN LỚP HỌC PHẦN</th>
                            <th class="status-class">TRẠNG THÁI</th>
                        </tr>
                    </thead>
                    <tbody id="waitingClassBody">
                        <tr>
                            <td colspan="3"
                                class="text-center text-muted p-4">
                                Chọn một môn học để xem danh sách
                                lớp
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Chi tiết lớp học phần -->
        <div class="section-right">
            <div class="header-class-detail">
                <h3 class="section-title-detail fw-bold">
                    Chi tiết lớp học phần
                </h3>
                <a class="schedule-empty mb-1" href="#">Kiểm tra lịch trống</a>
            </div>

            <div id="classDetailContainer">
                <div class="empty-state">
                    <!-- <div class="empty-state-icon"></div> -->
                    <p>Chọn một lớp học phần để xem chi tiết</p>
                </div>
            </div>
        </div>
    </div>

    <!-- lớp học phần đã đăng ký -->
    <div class="registered-section">
        <h3 class="section-title fw-bold">
            Lớp học phần đã đăng ký
        </h3>

        <div class="table-scroll">
            <table class="registered-table" id="registeredTable">
                <thead>
                    <tr>
                        <th rowspan="2">STT</th>
                        <th rowspan="2">Mã HP</th>
                        <th rowspan="2">TÊN HP</th>
                        <th rowspan="2">TC/ĐVHT</th>
                        <th rowspan="2">NHÓM THẢO LUẬN</th>
                        <th colspan="2">HỌC PHÍ</th>
                        <th rowspan="2">HẠN NỘP</th>
                        <th rowspan="2">TT HỌC PHÍ</th>
                        <th rowspan="2">TRẠNG THÁI ĐK</th>
                        <th rowspan="2">NGÀY DK</th>
                        <th rowspan="2">TT LHP</th>
                        <th rowspan="2">THAO TÁC</th>
                    </tr>
                    <tr>
                        <th>L1</th>
                        <th>L2</th>
                    </tr>
                </thead>
                <tbody id="registeredTableBody">
                    <tr>
                        <td colspan="13"
                            class="text-center text-muted p-4">
                            Chưa có lớp học phần đã đăng ký
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/js/common.js"></script>
    <script src="~/Scripts/js/dang-ky-mon-hoc-dieu-kien.js"></script>
}
