
@{
    ViewBag.Title = "Kết quả rèn luyện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/Content/lib/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/common.css" />
    <link rel="stylesheet" href="~/Content/css/ket-qua-ren-luyen.css" />
    <link rel="stylesheet" href="~/Content/css/dang-ky-muon-phong.css" />
}


    <div class="container-lg pt-4">
        <div class="header-section">
            <div class="header-title">Kết quả rèn luyện</div>
            <div class="header-subtitle">
                Theo dõi điểm rèn luyện và lịch sử vi phạm theo từng học
                kỳ
            </div>
        </div>

        <!-- Semester Cards -->
        <div class="content-section"></div>
    </div>

@section scripts {
    <script src="https://kit.fontawesome.com/6f955e325d.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/lib/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/lib/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/js/common.js"></script>
    <script src="~/Scripts/js/ket-qua-ren-luyen.js"></script>
}


